 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="/admin/adminlogin" class="logo d-flex align-items-center w-auto">
                  <span class="d-none d-lg-block">ADMIN LOGIN</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                    <p class="text-center small">Enter your Email & password to login</p>
                  </div>
                  <p class="text-center text-danger mt-5">{{logErr}}</p>

                  <form class="row g-3 needs-validation " action="/admin/adminlogin" id="gformLogin" method="post"
                    onsubmit="return validation()">

                    <div class="col-12">
                      <label for="email" class="form-label">Email</label>
                      <div class="input-group has-validation">

                        <input type="email" class="form-control" id="Email" name="email" onkeyup="validEmail()">

                      </div>
                      <span id="email" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password"
                        onkeyup="validPassword()">

                    </div>
                    <span id="passwords" class="text-danger"></span>


                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>

                  </form>

                </div>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script>

    var errorEmail = document.getElementById('email')
    var errorPassword = document.getElementById('passwords')

    function validEmail() {
      const email = document.getElementById('Email').value
      if (email == "") {
        errorEmail.innerHTML = "enter you email address"
        return false
      }
      if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
        errorEmail.innerHTML = 'enter a proper email address'
        return false
      }
      errorEmail.innerHTML = null
      return true
    }
    function validPassword() {
      const psd = document.getElementById('password').value
      if (psd == "") {
        errorPassword.innerHTML = "enter a password"
        return false
      }
      if (psd.length < 3) {

        errorPassword.innerHTML = "password should be more than five characters"
        return false
      }
      errorPassword.innerHTML = null
      return true
    }
    function validation() {
      if (!validEmail() || !validPassword()) {
        return false
      }
      return true
    }
  </script>
</body>

</html>