  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

       

        

       

            {{!-- <li>
              <a class="dropdown-item d-flex align-items-center" href="/admin/adminlogout" >
                <i class="bi bi-box-arrow-right btn  btn-primary btn-lg"><span>LogOut</span></i>
                
              </a>
            </li> --}}

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->



  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin/">
          
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

        <li class="nav-item">
        <a class="nav-link " href="/admin/viewproduct">
          
          <span>View Product</span>
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="/admin/userlist">
          
          <span>View User</span>
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="/admin/addproduct">
          
          <span>Add Product</span>
        </a>
      </li>
      
        <li class="nav-item">
        <a class="nav-link " href="/admin/category">
          
          <span>Add Categories</span>
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="/admin/AdminOrderManagement">
          
          <span>Order</span>
        </a>
      </li>
      
        <li class="nav-item">
        <a class="nav-link " href="/admin/salesReport">
          
          <span>Sales Report</span>
        </a>
      </li>

       <li class="nav-item">
        <a class="nav-link " href="/admin/categoryManagement">
          
          <span>Category Management</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link " href="/admin/Coupon">
          
          <span>Coupon</span>
        </a>
      </li>

        <li class="nav-item">
        <a class="nav-link " href="/admin/return">
          
          <span>Returns</span>
        </a>
      </li>
      
       
        
      
          <li class="nav-item">
        <a class="nav-link " href="/admin/adminlogout">
          
          <span>LogOut</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->