<main class="main col-12">
    <!-- End .breadcrumb-nav -->
    <div id="canvas-shapes"></div>
    <div class="content col-12">
        <div class="container col-12">
            <div class="form-box col-12 mt-5">
                <div class="form-tab col-12">
                    <ul class="nav nav-pills nav-fill col-12" role="tablist">
                        <li class="nav-item">
                            <a  href="/"><h3>SignUp</h3></a>
                        </li>

                    </ul>


                    {{!--

                    <div class="tab-content">
                        <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                            --}}

                            {{#if errmessage}}

                            <p class="text-center text-danger mt-5">{{errmessage}}</p>


                            {{/if}}

                            <form class="col-12" action="/signup" method="post" onsubmit="return validation()">


                                <div class="form-group">
                                    <label for="singin-email-2">Name *</label>
                                    <input type="text" class="form-control" id="Name" name="name" id="name"
                                        onkeyup="validateName()">

                                    <span id="name" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <label for="singin-email-2"> Email address *</label>
                                    <input type="text" class="form-control" id="Email" name="email"
                                        onkeyup="validEmail()">

                                    <span id="email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="singin-email-2">Mobile Number *</label>
                                    <input type="tel" class="form-control" name="number" id="phonenumber"
                                        onkeyup="validPhoneNumber()">

                                    <span id="phonenumbers" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="singin-password-2">Password *</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        onkeyup="validPassword()">

                                    <span id="passwords" class="text-danger"></span>

                                    <div>
                                        <label for="singin-email-2">referral code*</label>
                                    </div>

                                    <input type="text" class="form-control" id="refferal" name="refferalcode">

                                    <div class="form-footer col-12 col-sm-3 col-lg-6">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>



                                </div>
                            </form>
                        </div><!-- End .form-group -->


                    </div>


                </div><!-- End .form-group -->




            </div><!-- .End .tab-pane -->


        </div><!-- .End .tab-pane -->

    </div>
    <!--You Can Change shapes With "circle" , "square" , "triangle", "hexa" or custom image at Bottom of Js code -->

    </div><!-- End .form-tab -->
    </div><!-- End .form-box -->
    </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->


{{!-- </div><!-- End .page-wrapper --> --}}
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<script>
    var errorName = document.getElementById('name')
    var errorEmail = document.getElementById('email')
    var errorPassword = document.getElementById('passwords')
    var errorPhonenumber = document.getElementById('phonenumbers')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "" || name == null) {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z ]*$/)) {
            errorName.innerHTML = 'Number are not allowed'
            return false
        }
        if (name.match(/^[ ]*$/)) {
            errorName.innerHTML = 'enter your valid name'
            return false
        }
        errorName.innerHTML = null
        return true
    }
    function validEmail() {
        const email = document.getElementById('Email').value
        if (email == "") {
            errorEmail.innerHTML = "enter you email address"
            return false
        }
        if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email address'
            return false
        }
        errorEmail.innerHTML = null
        return true
    }
    function validPassword() {
        const psd = document.getElementById('password').value
        if (psd == "") {
            errorPassword.innerHTML = "enter a password"
            return false
        }
        if (psd.length < 5) {

            errorPassword.innerHTML = "password should be more than five characters"
            return false
        }
        errorPassword.innerHTML = null
        return true
    }
    function validPhoneNumber() {
        const mob = document.getElementById('phonenumber').value
        if (mob == "") {
            errorPhonenumber.innerHTML = "enter a phonenumber"
            return false
        }
        if (mob.length < 10 || !mob.match(/^\d*$/)) {
            errorPhonenumber.innerHTML = "Please Enter the valide phone number"
            return false
        }
        errorPhonenumber.innerHTML = null
        return true
    }
    function validation() {
        if (!validateName() || !validEmail() || !validPassword() || !validPhoneNumber()) {
            return false
        }
        return true
    }




</script>